.tile {
	@apply flex flex-col;
	@apply items-center;
	@apply my-2 mx-1;
	@apply rounded-lg shadow-lg;
	@apply overflow-hidden;
	@apply transition-shadow ease-in-out duration-150;
	@apply cursor-pointer select-none;
	@apply md:hover:ring-2 ring-slate-400;
	contain: content;
}

.container {
	@apply w-full min-h-[200px] max-h-[500px] inline-grid;
	contain: content;
}

.image {
	@apply transition-opacity object-cover ease-in duration-150 w-full h-full;
	content-visibility: auto;
}

.video {
	@apply w-full h-full min-h-[200px] transition-opacity object-cover ease-in duration-150;
	height: -webkit-fill-available;
	content-visibility: auto;
}

.overlay {
	@apply absolute w-full h-full flex items-center justify-center pointer-events-none z-10;
	content-visibility: auto;
}

.spoileroverlay {
	@apply cursor-default absolute text-sm flex-col text-white gap-1 items-center justify-center w-full h-full z-20 bg-gray-800 backdrop-blur-lg bg-opacity-50;
	content-visibility: auto;
}

.spoileroverlay svg {
	@apply w-5;
}

.spoileroverlay span {
	@apply px-3;
}

.spoileraction {
	@apply bg-gray-600 rounded-full border border-gray-400 px-3 py-1 hover:bg-gray-700;
}

.playbutton {
	@apply w-1/4 text-sky-500 bg-slate-100 shadow-lg border-2 border-sky-500;
}

.loader {
	@apply w-7 h-7 transition-opacity ease-in-out duration-300 text-slate-500;
}

.textanim {
	@apply transition-opacity duration-100 ease-in-out;
}

.textbutton {
	@apply absolute right-1 p-1 hover:ring-2 bg-black bg-opacity-70 pointer-events-auto rounded-md uppercase font-bold z-50;
}

.metriccontainer {
	@apply absolute w-full h-full pointer-events-none;
	/* box-shadow: inset 0px 0px 65px 60px rgba(55, 65, 81, 0.5); */
}
.metricauthors {
	@apply absolute top-0 left-0 flex flex-nowrap min-w-0 w-full items-center justify-start;
	@apply z-10 p-1 pb-10 cursor-default;
	@apply bg-gradient-to-b from-slate-700;
}
.metricauthors a {
	@apply p-1 hover:bg-slate-800 hover:ring-2 rounded-full;
}
.metrics {
	@apply absolute right-0 bottom-0 flex flex-col items-end justify-end h-full gap-2;
	@apply p-2 pl-10 cursor-default;
	@apply bg-gradient-to-l from-slate-700;
}
.metrics a {
	@apply items-center justify-center;
}
.metriccontainer img {
	@apply rounded-full border-2 border-slate-200 bg-slate-200;
	@apply min-w-[24px] min-h-[24px] sm:min-w-[36px] sm:min-h-[36px];
	@apply max-w-[24px] max-h-[24px] sm:max-w-[36px] sm:max-h-[36px];
}
.metriccontainer span {
	@apply flex text-gray-100;
}
.metriccontainer a {
	@apply text-white visited:text-white pointer-events-auto text-xs font-medium;
	@apply flex gap-1 min-w-0 pointer-events-auto items-center;
	text-shadow: 0px 0px 2px black;
}
.metriccontainer svg {
	@apply w-5 sm:w-6 z-10 pointer-events-auto;
	filter: drop-shadow(0px 0px 1px black);
}